/* static/css/base.css */
body {
  font-family: 'Courier', sans-serif;
  font-size: 18px;
  color: green;
  background-color: black;
}

body a {
  color: green;
  text-decoration: none;
}

body a:hover {
  color: lime;
  text-decoration: none;
}

header {
  border-bottom: 1px solid;
  margin-bottom: 2rem;
  display: flex;
  color: green;
}

header h1 a {
  color: lime;
  text-decoration: none;
}

header a {
  color: green;
  text-decoration: none;
}

header a:hover {
  color: lime;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
}

.post-entry {
  margin-bottom: 0.5rem;
}

.post-entry h3 {
  margin: .5rem 0;
}

.post-entry h3 a, .post-entry h3 a:visited {
  color: green;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 400;
}

.post-entry h3 a:hover {
  color: lime;
  text-decoration: none;
}

input[type="text"], input[type="password"], textarea {
  background-color: black;
  color: lime;
  border: 2px solid green;
  width: 50%
}

input[type="button"], input[type="submit"] {
  background-color: green;
  color: black;
  border: none;
}

select {
  background-color: green;
  color: black;
  border: green;
}
